name: Greetings

on: [pull_request_target, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: "Hello @${{ github.actor }} , thank you for submitting an issue! Don't forget to :star: this repo."
        pr-message: "Hello @${{ github.actor }} , thank you for submitting a pull request, we appreciate it a lot! Don't forget to :star: this repo."
